html, body, ul, li {
  margin: 0;
  border: 0;
  padding: 0;
}

h1{
  color: aliceblue;
  position: sticky;
}

canvas {
  display: absolute;
  margin: 0 auto;
  background-color: blue;
}

p {
  text-align: center;
}

body {
  overflow: hidden;
  height: 100%;
}

html {
  overflow: hidden;
  height: 100%;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
}


#score {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  z-index: 1000;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}


.dialog-box {
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.8); 
  color: #fff; 
  font-family: 'Press Start 2P', cursive; 
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid #ffd700; 
  animation: fadeInOut 1s linear;
  max-width: 90%; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  z-index: 1000; 
}

@media screen and (max-width: 768px) {
  .dialog-box {
    font-size: 18px; 
  }
}

