.Home{

    .ParentDiv2{
     position: relative;
    }

    .ParentDiv{

        display: flex;
        width: 120vw;
        margin-left: -5vw;

        @media screen and (max-width:768px){
          display: inline-block;
          margin-left: -2vw;
        }

        .child1 {
            width: 100vw;
            height: 100vh;
            background-image: url(../../assets/SpinTheWheel.png);
            background-position: center;
            background-size: cover;
            transition: transform 0.3s ease; // Smooth transition for the scaling effect
          
            &:hover {
              transform: scale(1.05); // Slightly enlarge the div on hover
            }

            @media screen and (max-width:768px) {
              height: 33vh;
              background-size: inherit;
              padding-right: -100vw;
            }
          }

        .child2{
            width: 100vw;      
            height: 100vh;     
            background-image: url(../../assets/Mario.png);
            background-position: center;
            background-size: cover;
            transition: transform 0.3s ease; // Smooth transition for the scaling effect
          
            &:hover {
              transform: scale(1.05); // Slightly enlarge the div on hover
            } 

            @media screen and (max-width:768px) {
              height: 33vh;
              background-size: inherit;
            }
            }

        .child3{
            width: 100vw;      
            height: 100vh;     
            background-image: url(../../assets/quiz.png);
            background-position: center;
            background-size: cover;
            transition: transform 0.3s ease; // Smooth transition for the scaling effect
          
            &:hover {
              transform: scale(1.05); // Slightly enlarge the div on hover
            } 

            @media screen and (max-width:768px) {
              height: 33vh;
              background-size: inherit;
              padding-left: 30vw;
            }
        }
    }
}