.Home{

  .overlay-home {
    background-image: url(../../assets/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200vh; /* Cover the full screen height */
    width: 100vw; /* Cover the full screen width */
    z-index: 999; /* Ensure it's on top */
    position: absolute; /* Position overlay absolutely */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    pointer-events: all; /* Allow interaction initially */
    transition: opacity 0.5s ease; /* Smooth transition for fading */

    h1 {
        color: white;
        text-align: center;
        margin-top: -90vh;
        font-size: 5vw;
    }

    &.fade-out {
        opacity: 0; /* Fade out */
        pointer-events: none; /* Disable interaction after click */
    }
}

  
    .ParentDiv{

        display: flex;
        width: 120vw;
        margin-left: -9vw;

        @media screen and (max-width:768px){
          display: inline-block;
          margin-left: -2vw;
        }

        .child1 {
            width: 100vw;
            height: 100vh;
            background-image: url(../../assets/SpinTheWheel.png);
            background-position: center;
            background-size: cover;
            transition: transform 0.3s ease; // Smooth transition for the scaling effect
          
            &:hover {
              transform: scale(1.05); // Slightly enlarge the div on hover
            }

            @media screen and (max-width:768px) {
              height: 33vh;
              background-size: inherit;
              padding-right: -100vw;
            }
          }

        .child2{
            width: 100vw;      
            height: 100vh;     
            background-image: url(../../assets/Mario.png);
            background-position: center;
            background-size: cover;
            transition: transform 0.3s ease; // Smooth transition for the scaling effect
          
            &:hover {
              transform: scale(1.05); // Slightly enlarge the div on hover
            } 

            @media screen and (max-width:768px) {
              height: 33vh;
              background-size: inherit;
            }
            }

        .child3{
            width: 100vw;      
            height: 100vh;     
            background-image: url(../../assets/quiz.png);
            background-position: center;
            background-size: cover;
            transition: transform 0.3s ease; // Smooth transition for the scaling effect
          
            &:hover {
              transform: scale(1.05); // Slightly enlarge the div on hover
            } 

            @media screen and (max-width:768px) {
              height: 33vh;
              background-size: inherit;
              padding-left: 30vw;
            }
        }

        .child4{
          width: 100vw;      
          height: 100vh;     
          background-image: url(../../assets/ludo.png);
          background-position: center;
          background-size: cover;
          transition: transform 0.3s ease; // Smooth transition for the scaling effect
        
          &:hover {
            transform: scale(1.05); // Slightly enlarge the div on hover
          } 

          @media screen and (max-width:768px) {
            height: 33vh;
            background-size: inherit;
            padding-left: 30vw;
          }
      }

      .child5{
        width: 100vw;      
        height: 100vh;     
        background-image: url(../../assets/ConstitutionalDetective.png);
        background-position: center;
        background-size: cover;
        transition: transform 0.3s ease; // Smooth transition for the scaling effect
      
        &:hover {
          transform: scale(1.05); // Slightly enlarge the div on hover
        } 

        @media screen and (max-width:768px) {
          height: 33vh;
          background-size: inherit;
          padding-left: 30vw;
        }
    }
    }
}