:root{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    scrollbar-width: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    overflow-x: hidden;
}
